<%= render 'info', user: @user %>
<%= render 'books/new_book', book: @book %>

<h1>Users</h1>
<% @users.each do |user| %>
<p>image</p>
<span><%= link_to image_tag(user.get_profile_image(100, 100)), user %></span>
<p><%= link_to user.name, user %></p>
<p><%= link_to "Show", user %></p>
<% end %>
