<%= render 'info', user: @user %>
<%= render 'books/new_book', book: @book %>

<h2>Books</h2>
<% @books.each do |book| %>
<p><%= link_to image_tag(@user.get_profile_image(100, 100)), @user %>
<p><%= link_to book.title, book_path(book) %></p>
<p><%= book.body %></p>
<% end %>
  